<!-- Login section -->
<section
  class="register-section w-100 d-flex justify-content-center align-items-center overflow-hidden"
>
  <form
    class="register-form shadow d-block"
    (ngSubmit)="register()"
    [formGroup]="registerForm"
  >
    <h3 class="text-center my-3 fw-bold">Register</h3>
    <div class="px-4 my-2">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Username"
        formControlName="username"
      />
      <ng-container *ngIf="registerForm.get('username')?.touched">
        <p class="invalid-input-message text-danger" *ngIf="registerForm.get('username')?.errors?.['required']">Username is required!</p>
        <p class="invalid-input-message text-danger" *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be at least 4 characters!</p>
      </ng-container>
    </div>
    <div class="px-4 my-2">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <ng-container *ngIf="registerForm.get('email')?.touched">
        <p class="invalid-input-message text-danger" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required!</p>
        <p class="invalid-input-message text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email!</p>
      </ng-container>
    </div>
    <ng-container formGroupName="passGroup">
      <div class="px-4 my-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <ng-container *ngIf="passwords?.get('password')?.touched">
          <p class="invalid-input-message text-danger" *ngIf="passwords?.get('password')?.errors?.['required']">Password is required!</p>
          <p class="invalid-input-message text-danger" *ngIf="passwords?.get('password')?.errors?.['minlength']">Password must be at least 4 characters!</p>
        </ng-container>
      </div>
      <div class="px-4 my-2">
        <label for="rePassword">Repeat password</label>
        <input
          type="password"
          class="form-control"
          name="rePassword"
          id="rePassword"
          placeholder="Repeat password"
          formControlName="rePassword"
        />
        <ng-container *ngIf="passwords?.get('rePassword')?.touched">
          <p class="invalid-input-message text-danger" *ngIf="passwords?.errors?.['matchPasswordsValidator']">Passwords do not match!</p>
        </ng-container>
      </div>
    </ng-container>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
    <p class="low-form-text mt-4">
      Already have an account? <a href="">Login here!</a>
    </p>
  </form>
</section>
