:root {
  --font: "Montserrat", sans-serif;
  --black: #000;
  --white: #fff;
  --secondary-white: #fcfafa;
  --main-blue: #64c4ed;
  --secondary-blue: #4f81c7;
}

.admin-panel-section {
  font-family: var(--font) !important;
  position: absolute;
  min-height: 100%;
}

/* Admin side navigation */
.admin-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.admin-sidenav button {
  width: 180px;
  height: 50px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
}

.admin-sidenav button:hover {
  border: none !important;
}

.admin-sidenav button div {
  width: 100px;
}

.admin-sidenav button i {
  margin: 0 3px;
}

.admin-sidenav a {
  text-decoration: none;
  color: var(--black);
}

.footer-text {
  font-size: 14px;
  text-align: center;
}

/* Admin products page */
.admin-products-page {
  max-height: max-content;
}

.product-item {
  height: 65px;
  width: 100%;
}

.product-item .image-container img {
  width: 110px;
}

.product-item .buttons-container button {
  width: 100px !important;
}

/* Admin orders page */
.order {
  min-height: 60px;
  max-height: max-content;
}

.product-order-item {
  height: 60px;
}

.product-order-item .order-image-container {
  width: max-content;
}

.product-order-item .order-image-container img {
  width: 110px;
}

.finish-order button {
  width: 140px;
}

/* Admin create product page */
.admin-create-product-page form button {
  width: 150px;
}

.invalid-input-message {
  font-size: 15px;
}

@media screen and (max-width: 1700px) {
  .image-container {
    width: 20% !important;
  }
  .text-container {
    width: 30% !important;
  }
  .buttons-container {
    width: 50% !important;
  }
}

@media screen and (max-width: 1440px) {
  .admin-sidenav {
    width: 20% !important;
  }
}

@media screen and (max-width: 1140px) {
  .admin-content {
    width: 80% !important;
  }
}
