<!-- Navigation -->
<header class="d-flex w-100 overflow-hidden align-items-center">
  <nav class="navbar navbar-expand-lg w-100">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 fw-bold" routerLink="/shop">Mario's Shop</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/shop"
              >Home</a
            >
          </li>

          <!-- Logged in user -->
          <li class="nav-item d-flex align-items-center ms-3" *ngIf="isLoggedIn">
            <!-- d-flex -->
            <p class="mb-0 fw-bold">
              Hello, {{username}}
            </p>
          </li>
          <li class="nav-item ms-3 d-flex align-items-center" *ngIf="isLoggedIn">
            <button class="btn btn-danger" routerLink="/auth/login">
              Logout
            </button>
          </li>
          <!-- Guest user -->
          <li class="nav-item ms-3 d-flex align-items-center" *ngIf="!isLoggedIn">
            <button class="btn btn-light" routerLink="/auth/login">
              Login
            </button>
          </li>
        </ul>
        <a routerLink="/shop/cart" class="d-flex align-items-center text-decoration-none" *ngIf="isLoggedIn">
          <fa-icon
            [icon]="faCartShopping"
            class="position-relative mx-4 fs-5"
          ></fa-icon>
          <span class="translate-middle badge rounded-pill bg-danger badge-text"
            >0</span
          >
        </a>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
