<!-- Cart page -->
<section class="cart-page w-100 overflow-x-hidden d-block mt-3">
  <div class="added-products-wrapper w-100 d-flex justify-content-center">
    <div class="added-products-table d-block col-8 border">
      <!-- Added product row -->
      <ng-container *ngIf="!isCartEmpty">
      <div
        class="product-row w-100 d-flex overflow-hidden border-bottom"
        *ngFor="let product of cart?.products"
      >
        <div
          class="product-image col-4 d-flex justify-content-center align-items-center overflow-hidden border-end"
        >
          <img src="{{ product.productId.imageSrc }}" alt="" />
        </div>
        <div
          class="product-title col-4 d-flex justify-content-center align-items-center overflow-hidden border-end"
        >
          <h3 class="fs-4 fw-bold">{{ product.productId.title }}</h3>
        </div>
        <div class="product-price col-4 overflow-hidden d-block p-3">
          <div class="input-group mt-1 mb-2">
            <label for="quantity" class="my-auto me-1">Quantity</label>
            <input
              type="number"
              name="quantity"
              id="quantity"
              class="form-control ms-1"
              value="{{ product.quantity }}"
            />
          </div>
          <p class="mt-2 fs-5 text-center">
            Price: {{ product.quantity * product.productId.price }}$
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-danger">Remove</button>
          </div>
        </div>
      </div>
      </ng-container>
      <h2 *ngIf="isCartEmpty">Cart is empty. Go shopping</h2>
    </div>
  </div>
  <div class="order-details-wrapper w-100 d-flex justify-content-center mt-4">
    <form class="order-details d-flex col-8">
      <div class="me-5">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="mx-5">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" />
      </div>
      <div class="mx-5">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" />
      </div>
      <div class="d-flex align-items-end ms-5">
        <button class="btn btn-primary my-auto">Finish order</button>
      </div>
    </form>
  </div>
</section>
