<app-header />
<!-- Login section -->
<section
class="login-section w-100 d-flex justify-content-center align-items-center overflow-hidden"
>
<form class="login-form shadow d-block" (ngSubmit)="login()" [formGroup]="adminLoginForm">
  <h3 class="text-center my-3 fw-bold">Admin Login</h3>
  <div class="px-4 my-2">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      name="email"
      id="email"
      placeholder="email"
      formControlName="email"
    />
    <ng-container *ngIf="adminLoginForm.get('email')?.touched">
      <p class="invalid-input-message text-danger" *ngIf="adminLoginForm.get('email')?.errors?.['required']">Email is required!</p>
    </ng-container>
  </div>
  <div class="px-4 my-2">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      placeholder="password"
      formControlName="password"
    />
    <ng-container *ngIf="adminLoginForm.get('password')?.touched">
      <p class="invalid-input-message text-danger" *ngIf="adminLoginForm.get('password')?.errors?.['required']">Password is required!</p>
    </ng-container>
    <p class="invalid-input-message text-danger" *ngIf="isLoginError">Email or password are invalid!</p>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
</section>
<app-footer />
